<!-- IF S_SHOW_AT_TOP -->
	<!-- IF S_FACEBOOK -->
	<a href="#" onclick="return open_socialmedia('https://www.facebook.com/sharer/sharer.php?u={U_TOPIC}');" title="{L_SHARE_FACEBOOK}" class="socialmedia1">&nbsp;</a><span class="social_count">{SHARES_FACEBOOK}</span>
	<!-- ENDIF -->
	<!-- IF S_TWITTER -->
	<a href="#" onclick="return open_socialmedia('https://twitter.com/intent/tweet?text={TOPIC_TITLE}&amp;url={U_TOPIC}');" title="{L_SHARE_TWITTER}" class="socialmedia3">&nbsp;</a><span class="social_count">{SHARES_TWITTER}</span>
	<!-- ENDIF -->
	<!-- IF S_GOOGLE -->
	<a href="#" onclick="return open_socialmedia('https://plus.google.com/share?url={U_TOPIC}&amp;title={TOPIC_TITLE}');" title="{L_SHARE_GOOGLEPLUS}" class="socialmedia4">&nbsp;</a><span class="social_count">{SHARES_GOOGLE}</span>
	<!-- ENDIF -->
	<!-- IF S_LINKEDIN -->
	<a href="#" onclick="return open_socialmedia('http://www.linkedin.com/shareArticle?mini=true&amp;url={U_TOPIC}&amp;title={TOPIC_TITLE}');" title="{L_SHARE_LINKEDIN}" class="socialmedia2">&nbsp;</a><span class="social_count">{SHARES_LINKEDIN}</span>
	<!-- ENDIF -->
<!-- ENDIF -->

