<!-- IF S_SHOW_AT_TOP -->
<li>
	<!-- IF S_FACEBOOK -->
	<a href="#" onclick="return open_socialmedia('https://www.facebook.com/sharer/sharer.php?u={U_CANONICAL}');" title="{L_SHARE_FACEBOOK}" class="socialmedia1 {SOCIAL_MEDIA_CLASS}">&nbsp;</a><span class="social_count">{SHARES_FACEBOOK}</span>
	<!-- ENDIF -->
	<!-- IF S_TWITTER -->
	<a href="#" onclick="return open_socialmedia('https://twitter.com/intent/tweet?text={TOPIC_TITLE}&amp;url={U_CANONICAL}');" title="{L_SHARE_TWITTER}" class="socialmedia3 {SOCIAL_MEDIA_CLASS}">&nbsp;</a><span class="social_count">{SHARES_TWITTER}</span>
	<!-- ENDIF -->
	<!-- IF S_GOOGLE -->
	<a href="#" onclick="return open_socialmedia('https://plus.google.com/share?url={U_CANONICAL}&amp;title={TOPIC_TITLE}');" title="{L_SHARE_GOOGLEPLUS}" class="socialmedia4 {SOCIAL_MEDIA_CLASS}">&nbsp;</a><span class="social_count">{SHARES_GOOGLE}</span>
	<!-- ENDIF -->
	<!-- IF S_LINKEDIN -->
	<a href="#" onclick="return open_socialmedia('http://www.linkedin.com/shareArticle?mini=true&amp;url={U_CANONICAL}&amp;title={TOPIC_TITLE}');" title="{L_SHARE_LINKEDIN}" class="socialmedia2 {SOCIAL_MEDIA_CLASS}">&nbsp;</a><span class="social_count">{SHARES_LINKEDIN}</span>
	<!-- ENDIF -->
</li>
<!-- ENDIF -->

